{% extends "base.html" %}

{% block title %}
About Pytom
{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="m-4">About Pytom</h1>
    <p><strong>Pytom</strong> is a financial tool written in Python for the aid and automation of various tasks for things such as data aggregation, analysis and trading.</p>
</div>
{% endblock %}
