{% extends "base.html" %} 
{% block title %}Login{% endblock %} 
{% block content%}
<form method="POST" class="text-center m-4">
    <h2>Login</h2>
    <div class="form-group">
        <label class="m-2" for="email">Email Address</label>
            <input
            type="text"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            />
        <label class="m-2" for="password">Password</label>
            <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
            />
        <br />
        <div align="center">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </div>
</form>
{% endblock %}